body {
  font-family: sans-serif;
}

.task-container {
  padding: 1em;
}

button,
input {
  padding: 7px 10px;
  border-radius: 3px;
  margin: 3px;
}

button {
  background-color: #0074d9;
  color: white;
  border: 0;
  font-size: 8pt;
}

canvas {
  border: 1px solid #444;
}

table td {
  text-align: center;
}

.flex > div:not(:first-child) {
  margin-left: 40px;
}

.form-check {
  display: block;
}
